@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
* {
  padding: 0px;
  margin: 0px;
}
body {
  height: 200vh;
  background-color: #1b1b1b;
}
h1 {
  font-family: Comfortaa;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 37px;
  border: 3px solid #00fff0;
  box-sizing: border-box;
  display: block;
  padding: 1.5rem 1rem;
  color: aqua;
  list-style: none;
}
a {
  cursor: pointer;
  font-family: "comfortaa";
  display: block;
  margin: 10px;
  background-color: #1b1b1b;
  font-size: 20px;
  color: aqua;
  list-style: none;
  padding: 15px 10px;
}
a:hover{
  color: black;
  border-radius: 10px;
  background-color: #00fff0;
  border: none;
  transition: 0.6s all 0s ease;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #1b1b1b;
}
::-webkit-scrollbar-thumb {
  background-color: #00fff0;
  border-radius: 6px;
  border: #1b1b1b solid 3px;
  width: 1px;
  height: 10px;
  margin: 3px;
}

/* NAVBAR CODE */
.Display {
  z-index: -1;
  width: 100%;
}
.navbar {
  background-color: #1b1b1b;
  width: 100%;
  z-index: 1;
  position: fixed;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.navBrand {
  cursor: pointer;
  margin: 10px;
  display: flex;
  padding: 5px;
  background-color: #00fff0;
  border-radius: 5px;
}
.Brand {
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Brand1 {
  font-family: "MedievalSharp";
  font-weight: bolder;
  font-size: 25px;
}
.Brand2 {
  font-family: "comfortaa";
  font-size: 10px;
}
.navContents {
  display: flex;
  justify-content: space-around;
}
.navItem {
  font-weight: medium;
  display: flex;
  font-family: "comfortaa";
  font-size: 15px;
  letter-spacing: 3px;
  color: #00fff0;
  margin-top: 16px;
  cursor: pointer;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 16px;
  margin-left: 40px;
  margin-right: 30px;
  border-radius: 5px;
}
.navItem:hover {
  color: black;
  background-color: #00fff0;
  border: none;
  transition: 0.6s all 0s ease;
}
.HmBurger {
  display: none;
}
.HmLine {
  margin: 3px;
  width: 30px;
  height: 5px;
  border-radius: 2px;
  background-color: #00fff0;
}
.box-container {
  display: none;
  background-color: #1b1b1b;
  margin-top: 70px;
  width: 100%;
  padding: 15px;
  position: fixed;
  animation: dropDown 0.6s ease-in-out;
  transform-origin: top center;
}
.box-item {
  height: 20px;
  font-family: "comfortaa";
  font-weight: medium;
  padding-top: 20px;
  letter-spacing: 3px;
  padding-bottom: 20px;
  color: #00fff0;
  background-color: #1b1b1b;
  width: 90%;
  text-align: center;
  border-radius: 4px;
  margin-top: 15px;
  margin-left: 8px;
  margin-right: 8px;
}
.box-item:hover {
  background-color: #00fff0;
  color: black;
  transition: 0.6s all 0s ease;
  border: none;
}
.CrossBurger {
  display: none;
  position: absolute;
  top: 33px;
  left: 89.54%;
}
.HmLine1 {
  width: 30px;
  position: absolute;
  height: 5px;
  border-radius: 2px;
  background-color: #00fff0;
  transform: rotate(45deg);
}
.HmLine2 {
  width: 30px;
  position: absolute;
  height: 5px;
  border-radius: 2px;
  background-color: #00fff0;
  transform: rotate(-45deg);
}
.opac1 {
  animation: OpacIn 0.5s ease-in;
  opacity: 0.1;
}
.opac2 {
  animation: OpacOut 0.5s ease-in;
  opacity: 1;
}
.about {
  display: flex;
  margin: 40px;
  flex-direction: column;
  background-color: #353535;
  color: #00fff0;
  font-family: "Comfortaa";
  border-radius: 10px;
  padding: 30px;
  width: 77.03125%;
}
.Ab1 {
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.Ab2 {
  word-spacing: 10px;
}
.title {
  color: aqua;
  cursor: pointer;
  padding: 10px;
  border-top: aqua solid 3px;
  border-bottom: aqua solid 3px;
  font-family: "MedievalSharp";
  left: 50%;
  top: 170px;
  font-size: 50px;
  position: absolute;
}
@media (max-width: 870px) {
  .Display {
    margin-top: 80px;
    width: 100%;
    height: 45vh;
  }
  .navbar {
    height: 80px;
  }
  .HmBurger {
    position: fixed;
    margin: 10px;
    width: 40px;
    top: 16px;
    left: 87%;
    display: block;
  }
  .navContents {
    display: none;
    justify-content: space-around;
  }
  .navBrand {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .box-container {
    display: block;
  }
  .CrossBurger {
    display: block;
    position: fixed;
  }
  .menuBlock {
    display: none;
  }
}
.hidden {
  display: none;
}

@keyframes dropDown {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes OpacIn {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes OpacOut {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/* BODY ELEMENTS */

.mainBlock {
  display: flex;
}
.menuBlock {
  width: 100%;
  background-color: #1b1b1b;
  margin-top: 100px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
/* .sidebar-item {
  cursor: pointer;
  font-family: "comfortaa";
  display: block;
  margin: 10px;
  background-color: #1b1b1b;
  font-size: 20px;
  color: aqua;
  list-style: none;
  padding: 15px 10px;
}
.sidebar-item:hover {
  color: black;
  border-radius: 10px;
  background-color: #00fff0;
  border: none;
  transition: 0.6s all 0s ease;
} */
.bodyBlock {
  display: flex;
  flex-direction: column;
}
.search-bar input {
  width: 157px;
  height: 44px;
  left: 65px;
  top: 685px;
  background: #ffffff;
  border-radius: 20px;
}
::placeholder {
  padding: 15px;
}
.search-btn {
  width: 40px;
  height: 36px;
}
.bodyBlock {
  display: flex;
  flex-direction: column;
}
